.intro{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    border: 1cap;

}
h1{
    display: flex;
    align-self: space-around;
    justify-self: center;
    gap: 15px;
}
.buttoncontainer{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    /* flex-basis: auto; */
    justify-content: space-around;

}
.btn1{
    background-color: red;
    order: 3;
    /* flex-grow: 1; */
    flex-basis: 25%;
}
.btn2{
    background-color: aqua;
    order: 1;
    /* flex-grow: 1; */
    flex-basis: 25%;
}
.btn3{
    background-color: brown;
    order: 2;
    /* flex-grow: 5; */
    /* flex-shrink: 3; */
    flex-basis: 25%;
}

.buttoncontainer button:hover{
    background-color: white;
}

.listcontainer{
    flex-wrap: wrap;
    flex-basis: content;
    align-content: space-around;
    justify-items: normal;
    row-gap: 50px;
    color: green;
}